name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

env:
  MIX_ENV: test
  ELIXIR_VERSION: "1.18.4"
  ERLANG_VERSION: "27.3.4"

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Elixir
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          elixir-version: ${{ env.ELIXIR_VERSION }}
          otp-version: ${{ env.ERLANG_VERSION }}

      - name: Restore dependencies cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: deps
          key: deps-${{ runner.os }}-elixir-${{ env.ELIXIR_VERSION }}-erlang-${{ env.ERLANG_VERSION }}-mixlock-${{ hashFiles('**/mix.lock') }}

      - name: Restore Dialyzer cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: _build/${{ env.MIX_ENV }}/dialyxir_*
          key: dialyzer-${{ runner.os }}-elixir-${{ env.ELIXIR_VERSION }}-erlang-${{ env.ERLANG_VERSION }}

      - name: Install dependencies
        run: mix deps.get

      - name: Compile
        run: mix compile

      - name: Credo
        run: mix credo

      - name: Dialyzer
        run: mix dialyzer

      - name: Test
        run: mix test
