name: Mix Dependency Submission

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# The API requires write permission on the repository to submit dependencies
permissions:
  contents: write

jobs:
  report_mix_deps:
    name: Report Mix Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: erlef/mix-dependency-submission@e3e07c533ea58301b54024fbf9663e1a167840a3 # v1.2.2
      - uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
        if: "${{ github.event_name == 'pull_request' }}"
